/* Viajes CSS */

body { font-family: 'Courier New', Courier, monospace;
       background-color: aliceblue; }

h1 { text-align: center;
     background-color: rgb(171, 186, 198);
     padding: 10px 0px;
     color: white; }

h4 { text-align: center;
     background-color: rgb(171, 186, 198);
     padding: 5px 0px;
     color: white; }

h2 { color: rgb(92, 106, 117); }

.texto { width: 84%;
        margin: auto; }

